[submodule "VModel"]
	path = VModel
	url = https://github.com/bluesillybeard/VModel
[submodule "VRender"]
	path = VRender
	url = https://github.com/bluesillybeard/VRender
[submodule "BasicGUI"]
	path = BasicGUI
	url = https://github.com/bluesillybeard/BasicGUI
[submodule "bepuphysics2"]
	path = bepuphysics2
	url = https://github.com/bepu/bepuphysics2
[submodule "nbtsharp"]
	path = nbtsharp
	url = https://github.com/bluesillybeard/nbtsharp
